<h2><a href="/kata/devchallenges.io/">devchallenges.io</a></h2>
<ol>
  <li>
    <a href="/kata/devchallenges.io/01_404/">01_404</a> 
    |
    <a href="/kata/devchallenges.io/01_404/README/">readme</a>

  </li>
  <li>
    <a href="/kata/devchallenges.io/02_my-team-page/">02_my-team-page</a> 
    | 
    <a href="/kata/devchallenges.io/02_my-team-page/README/">readme</a>
  </li>
</ol>
