<h2><a href="/kata/miscellaneous/">miscellaneous</a></h2>
<ol>
  <li>
    <a href="/kata/miscellaneous/01_container/">01_container</a> 
    |
    <a href="/kata/miscellaneous/01_container/README/">readme</a>
  </li>
</ol>
