.article {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 0.5em 1fr 0.5em;
  gap: var(--gutter) 0;

  padding-bottom: var(--gutter);

  > img {
    grid-column: 1/ 4;

    width: 100%;
    max-width: 100%;
    height: 100%;

    object-fit: cover;
  }

  > * {
    grid-column: 2;
  }
}

.article:has(> img) {
  .badge-list {
    grid-row: 1;
    align-self: end;
    margin-bottom: var(--gutter);
  }

  > img {
    grid-row: 1;
  }

  .badge {
    color: var(--color-red);
    background: var(--color-cream);
    border: 2px solid var(--color-orange);
  }
}

.article:first-child:has(> img) {
  @container news (width > calc(15ch * 2)) {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.article__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;

  max-width: 100%;
  margin: 0;

  font-family: var(--font-serif);
  text-overflow: ellipsis;
}

.article__summary {
  margin: 0;
}

.article__time {
  /* font-family: var(--font-serif); */
  font-size: 0.8em;
  color: var(--color-gray);
}
