@import 'timer-ugly';

.timer {
  position: relative;

  display: grid;
  place-items: center;

  width: 500px;
  height: 500px;

  background: radial-gradient(
    71.4% 71.4% at 51.7% 28.6%,
    #3a393f 0%,
    #17171a 100%
  );
  border-radius: 50%;
  box-shadow:
    -5px 14px 44px var(--black),
    5px -16px 50px #{'rgb(255 255 255 / 15%)'};

  &:before {
    content: '';

    position: absolute;
    inset: -3px;

    border: 8px solid var(--black);
    border-radius: 50%;
  }
}

.timer__controls {
  transform: translateY(36px);
  display: flex;
  flex-direction: column;
  place-items: center;
}

.timer__input-wrapper {
  user-select: none;

  font-family: var(--timerFont);
  font-size: 196px;
  font-weight: 400;
  line-height: 1;
  color: var(--buttonColor);
  white-space: nowrap;

  background: linear-gradient(180deg, #fff 0%, #d5d8e1 100%);
  background-clip: text;
}

.timer__input {
  width: 2ch;
  margin: 0;
  padding: 0;

  font-family: var(--timerFont);
  font-size: 196px;
  color: var(--buttonColor);
  text-align: center;
  text-shadow: 0 4px 4px #{'rgb(0 0 0 / 25%)'};

  background: linear-gradient(180deg, #fff 0%, #d5d8e1 100%);
  background-clip: text;
  border: 0;

  [data-state='editing'] & {
    border-bottom: 1px dashed var(--white);
  }

  [data-state]:not([data-state='editing']) &:focus-visible {
    outline: none;
  }
}

.timer__config-button {
  cursor: pointer;

  display: block;

  width: 34px;
  height: 34px;
  padding: 0;

  opacity: 00.5;
  background: none;
  border: 0;

  transition: opacity 0.15s ease-out;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }

  [data-editable] & {
    opacity: 1;
  }
}

.timer__start-button {
  cursor: pointer;

  margin: 0 -0.6em 13px 0;
  padding: 10px;

  font-family: var(--buttonFont);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--buttonColor);
  text-align: center;
  text-shadow: 0 4px 4px #{'rgb(0 0 0 / 25%)'};
  text-transform: uppercase;
  letter-spacing: 0.6em;

  opacity: 00.5;
  background: linear-gradient(180deg, #fff 0%, #d5d8e1 100%);
  background-clip: text;
  border: 0;

  transition: opacity 0.15s ease-out;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}
