.page__footer {
  font-family: var(--footerFont);
}

.footer__created-by {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 17px;

  // color: var(--gray03);
  color: var(--gray03a11y);
  text-align: center;

  a {
    &:link,
    &:visited,
    &:active {
      font-weight: 700;

      // color: var(--gray03);
      color: var(--gray03a11y);
      text-decoration: none;
    }

    &:hover {
      font-weight: 700;
      color: var(--gray03a11y);
      text-decoration: underline;
    }
  }
}
