:root {
  --dataStrokeOffset: 0;
}

.progressbar__svg {
  pointer-events: none;

  position: absolute;
  transform: rotate(-90deg) scaleY(-1);

  overflow: visible;

  width: 100%;
  height: 100%;
}

.progressbar__circle {
  fill: none;
  stroke: var(--red);
  stroke-dasharray: 100;
  stroke-dashoffset: var(--dataStrokeOffset);
  stroke-linecap: round;
  stroke-width: 0.5;

  transition: stroke-dashoffset 250ms linear;

  [data-state='editing'] &,
  [data-state='stopped'] & {
    filter: none;
    stroke: var(--green);
    stroke-dashoffset: var(--dataStrokeOffset);
    transition: stroke-dashoffset 1ms linear;
  }
}
