main {
  display: flex;
  flex: 1;
  align-items: stretch;
  justify-content: center;

  @media (min-width: $mobile-breakpoint) {
    align-items: center;
  }
}

.devChallenges-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
  padding: 0.5em;
}

.page__title {
  margin: 0;
}

.page__header {
  max-width: var(--maxWidth);
}

.page__footer {
  display: flex;
  grid-area: footer;
  min-height: 3em;
}

.footer__created-by {
  flex: 1;
  align-self: flex-end;
  margin: 0;
}
