.page__title {
  font-weight: 700;
  font-size: 24px;
  font-family: var(--titleFont);
  font-style: normal;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;

  @media (min-width: $mobile-breakpoint) {
    font-size: 30px;
  }
}

.page__footer {
  font-family: var(--footerFont);
}

.footer__created-by {
  // color: var(--gray03);
  color: var(--gray03a11y);
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  line-height: 17px;
  text-align: center;

  a {
    &:link,
    &:visited,
    &:active {
      // color: var(--gray03);
      color: var(--gray03a11y);
      font-weight: 700;
      text-decoration: none;
    }

    &:hover {
      color: var(--gray03a11y);
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
