@import 'components/root';

body {
  display: block;
  max-width: 800px;
  margin: auto;
}

section {
  margin: 20px;
}

.colors {
  --size: 150px;
}

.swatch {
  --c-border-color: hsl(317deg 54% 43%);

  display: grid;
  place-content: center;

  width: var(--size);
  height: var(--size);

  background-color: var(--var);
  border: 1px solid var(--c-border-color);
}

.swatch__label {
  color: var(--white);
  mix-blend-mode: difference;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--size), 1fr));
  gap: 20px;
  justify-items: center;

  margin: 0;
  padding: 0;

  list-style-type: none;
}
