.button {
  padding: 24px 43px;

  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 21px;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: -0.035em;

  background: var(--gray02);

  @at-root a#{&} {
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--white);
      text-decoration: none;
    }
  }
}
